<?xml version="1.0" encoding="UTF-8"?>

<!--
 | This is the configuration file used by default by `gjp mvn`.
 | Feel free to add settings here if any are needed for gjp dry runs.
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
</settings>
