version: 2
updates:
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "maven"
    # Files stored in `app` directory
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
    # we only use those for testing purposes
    # will be extended once more dependabot alerts occur
      - dependency-name: "org.apache.struts:struts2-core "
      - dependency-name: "log4j:log4j"
