name: 'GitHub Action review'

on:
  push:
    branches: [ master, devel ]
    paths:
      - '.github/workflows/**'
  pull_request:
    branches: [ master, devel ]
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v4.2.2
      - uses: reviewdog/action-actionlint@437bbe918b0d29544cbf9e8b1d63fe6f4e7a881d  # v1.65.2
