name: RuboCop

on:
  push:
    branches: [ master, devel ]
    paths:
      - '*.gemspec'
      - 'bin/tetra'
      - 'lib/**.rb'
      - 'spec/**.rb'
      - '**.rb'
      - '.github/workflows/rubocop.yml'
      - '.rubocop_todo.yml'
      - '.rubocop.yml'
  pull_request:
    branches: [ master, devel ]
    paths:
      - '*.gemspec'
      - 'bin/tetra'
      - 'lib/**.rb'
      - 'spec/**.rb'
      - '**.rb'
      - '.github/workflows/rubocop.yml'
      - '.rubocop_todo.yml'
      - '.rubocop.yml'

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
    - name: Install RuboCop
      run: gem install rubocop
    - name: Run RuboCop
      run: |
        rubocop 'bin/tetra'
        rubocop 'lib/tetra.rb'
        rubocop 'lib/tetra/'
        rubocop 'spec/spec_helper.rb'
        rubocop 'spec/lib'
