name: RuboCop

on:
  push:
    branches: [ devel ]
    paths:
      - '*.gemspec'
      - 'Gemfile'
      - 'Gemfile.lock'
      - 'bin/tetra'
      - 'lib/**.rb'
      - 'spec/**.rb'
      - '**.rb'
      - '.github/workflows/rubocop.yml'
      - '.rubocop_todo.yml'
      - '.rubocop.yml'
  pull_request:
    branches: [ master, devel ]
    paths:
      - '*.gemspec'
      - 'Gemfile'
      - 'Gemfile.lock'
      - 'bin/tetra'
      - 'lib/**.rb'
      - 'spec/**.rb'
      - '**.rb'
      - '.github/workflows/rubocop.yml'
      - '.rubocop_todo.yml'
      - '.rubocop.yml'

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v4.2.2
    - uses: ruby/setup-ruby@4fc31e1c823882afd7ef55985266a526c589de90  # v1.282.0
      with:
        ruby-version: '3.3'
    - name: Install RuboCop via bundle
      run: bundle install
    - name: Run RuboCop
      run: |
        ruby --version
        rubocop --version
        rubocop 'bin/tetra'
        rubocop 'lib/tetra.rb'
        rubocop 'lib/tetra/'
        rubocop 'spec/spec_helper.rb'
        rubocop 'spec/lib'
        rubocop 'tetra.gemspec'
