name: RuboCop

on:
  push:
    branches: [ devel ]
    paths:
      - '*.gemspec'
      - 'Gemfile'
      - 'Gemfile.lock'
      - 'bin/tetra'
      - 'lib/**.rb'
      - 'spec/**.rb'
      - '**.rb'
      - '.github/workflows/rubocop.yml'
      - '.rubocop_todo.yml'
      - '.rubocop.yml'
  pull_request:
    branches: [ master, devel ]
    paths:
      - '*.gemspec'
      - 'Gemfile'
      - 'Gemfile.lock'
      - 'bin/tetra'
      - 'lib/**.rb'
      - 'spec/**.rb'
      - '**.rb'
      - '.github/workflows/rubocop.yml'
      - '.rubocop_todo.yml'
      - '.rubocop.yml'

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v4.2.2
    - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25  # v1.267.0
      with:
        ruby-version: '3.3'
    - name: Install RuboCop via bundle
      run: bundle install
    - name: Run RuboCop
      run: |
        ruby --version
        rubocop --version
        rubocop 'bin/tetra'
        rubocop 'lib/tetra.rb'
        rubocop 'lib/tetra/'
        rubocop 'spec/spec_helper.rb'
        rubocop 'spec/lib'
        rubocop 'tetra.gemspec'
