name: Tests

on:
  push:
    branches: [ master, devel ]
    paths:
      - '!*.md'
      - '*.gemspec'
      - '**.rb'
      - 'Rakefile'
      - 'Gemfile'
      - 'Gemfile.lock'
      - 'bin/tetra'
      - 'spec/'
      - 'lib/template/bundled/'
      - '.github/workflows/test.yml'
  pull_request:
    branches: [ master, devel ]
    paths:
      - '!*.md'
      - '*.gemspec'
      - '**.rb'
      - 'Rakefile'
      - 'Gemfile'
      - 'Gemfile.lock'
      - 'bin/tetra'
      - 'spec/'
      - 'lib/template/bundled/'
      - '.github/workflows/test.yml'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.1', '3.2', '3.3', '3.4']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v4.2.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b  # v1.275.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install dependencies
        run: bundle install
      - name: git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"
      - name: Run tests and collect coverage
        run: |
          ruby --version
          bundle exec rake
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage
