name: Tests

on:
  push:
    branches: [ master, devel ]
  pull_request:
    branches: [ master, devel ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - name: Install dependencies
        run: bundle install
      - name: Run tests and collect coverage
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"
          bundle exec rake
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
